*,body{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
.main-container{
    max-width: 1180px;
    margin: 0 auto;
    display: grid; 
     grid-template-rows: 156px auto auto auto auto; 
}
.main-container .inner-container{
    width: 960px;
     margin: 0 auto;
     
}
.main-container header{
    margin-bottom: 45px;
}
.main-container header .header-top{
    display: grid;
    grid-template-columns: auto 1fr;
    padding-top: 55px;
}
.main-container header .header-top .header-top-right{
    justify-self: right;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 17px;
    align-items: center;
}
.main-container header .header-top .header-top-right .header-paragraph span{
    font-size: 17px;
    color: #a01d20;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold ;
    margin-bottom: 9px;
    padding-left: 20px;
}
.main-container header .header-top .header-top-right .header-paragraph p{
    font-size: 25px;
    color: #666666;
}
.main-container header .header-top .header-top-right .header-icon i{
    font-size: 48px;
}
.main-container .navigation{
    background:url(images/navigation-pic.png);
    height: 455px;
    display: grid;
    grid-template-rows: 59px 396px;
    align-items: end;
}
.main-container .navigation .navigation-menu{
    background-color: #e2e4e4;
    height: 59px;
    line-height: 59px;
   
}
.main-container .navigation .navigation-menu ul li{
    display: inline-block;
    list-style: none;
    margin-right: 30px;
}
.main-container .navigation .navigation-menu ul li:last-child{
    margin-right: 0px;
}
.main-container .navigation .navigation-menu ul li a:hover{
    color:red;
}
.main-container .navigation .navigation-menu ul li a{
    text-decoration: none;
    color:#2b2c2d;
}
.main-container .navigation .lorem-ipsum-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.main-container .navigation .lorem-ipsum-grid .lorem-ipsum-one{
    background-color: rgba(0, 0, 0, 0.5);
    height: 284px;
    display: grid;
    grid-template-rows: 58px 100px auto ;
    grid-gap: 36px;
}
.main-container .navigation .lorem-ipsum-grid .lorem-ipsum-one h1{
    color: #ffffff;
    font-size: 20px;
    padding-left: 40px;
}
.main-container .navigation .lorem-ipsum-grid .lorem-ipsum-one p{
    color:#ffffff;
    font-size: 16px;
}
.main-container .navigation .lorem-ipsum-grid .lorem-ipsum-one button{

}
.main-container .banner{
    background: url(images/banner-pic.png);
    height: 561px;
}
.main-container .banner .banner-paragraph{
    display: grid;
    grid-template-columns: auto 310px;
    grid-gap: 30px;
}
.main-container .banner .banner-paragraph .paragraph {
    padding-top: 50px;
}
.main-container .banner .banner-paragraph .paragraph h1{
    margin-bottom: 40px;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.main-container .banner .banner-paragraph .paragraph h1 span{
    color:#b52e32;
}
.main-container .banner .banner-paragraph .paragraph .paragraph-1{
    font-size: 20px;
    color: #999999;
    font-weight: bold;
    font-style: italic;
}
.main-container .banner .banner-paragraph .paragraph p{
    margin-bottom: 35px;
    font-size:16px;
    color: #cccccc;
}
.main-container .banner .banner-paragraph .paragraph p:last-child{
    margin-bottom: 0px;
}
.main-container .banner .banner-paragraph .menu-icon{
    padding-top: 130px;
}
.main-container .banner .banner-paragraph .menu-icon h1{
    font-size: 20px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 25px;
}
.main-container .banner .banner-paragraph .menu-icon ul{
    margin-bottom: 28px;
}
.main-container .banner .banner-paragraph .menu-icon ul li{
    list-style: none;
    margin-bottom: 6px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap:20px ;
    align-items: center;
    
  } 

.main-container .banner .banner-paragraph .menu-icon ul li a{
    color: #ee343a;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
.main-container .banner .banner-paragraph .menu-icon button{
    height: 55px;
    width: 100%;
    background-color:#8b0e12;
    color: #ffffff;
    line-height: 55px;
    font-size: 16px;
    outline: none;
    border: none;
    display: grid;
    grid-template-columns: 16px auto;
    border: none;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
}
.main-container .banner .banner-paragraph .menu-icon button i{
    margin-right: 20px;
    font-size: 20px;
    color: #ffffff;
}
.main-container .contact{
    background-color: #6d7172;
    height: 330px;
    padding-top: 50px;
    
}
.main-container .contact .inner-contact{
    display: grid;
    grid-template-columns: 308px 610px;
    grid-gap: 41px;
}
.main-container .contact .inner-contact .inner-contact-left h2{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 31px;
    font-family: 'Open Sans', sans-serif;
}
.main-container .contact .inner-contact .inner-contact-left h2 span{
    color: #890e12;
}

.main-container .contact .inner-contact .inner-contact-left p{
    color: #cccccc;
    font-size: 16px;
    margin-bottom: 25px;
}
.main-container .contact .inner-contact .inner-contact-left h3{
    font-size:30px ;
    color: #ffffff;
    margin-bottom: 35px;
}
.main-container .contact .inner-contact .inner-contact-right{
    display: grid;
    grid-template-rows: 35px 35px 65px auto;
    grid-gap: 10px;
    color: #999999;
    font-style: italic;
}

.main-container .contact .inner-contact .inner-contact-right .first-box {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 10px;
    
}
.main-container .contact .inner-contact .inner-contact-right .first-box .box-1 form input{
    background-color: #eaeaea;
    border-radius: 5px;
    padding:0 20px;  
    height: 35px;
    line-height: 35px;
    width: 300px;
    border: none;
    outline: none;
    font-style: italic;
}
.main-container .contact .inner-contact .inner-contact-right .first-box .box-2 form input {
    font-style: italic;
    background-color: #eaeaea;
    border-radius: 5px;
    padding: 0 20px ;
    height: 35px;
    line-height: 35px;
    width: 300px;
    border: none;
    outline: none;
    font-style: italic;
}
/* .main-container .contact .inner-contact .inner-contact-right .first-box .box-2{
    background-color: #eaeaea;
    border-radius: 5px;
    padding-left: 20px;
} */
.main-container .contact .inner-contact .inner-contact-right .second-box form input {
    background-color: #eaeaea;
    border-radius: 5px;
    padding:0 20px;  
    line-height: 35px;
    width: 100%;
    border: none;
    outline: none;
    font-style: italic;
}
.main-container .contact .inner-contact .inner-contact-right .third-box form textarea {
    background-color: #eaeaea;
    border-radius: 7px;
    padding-left: 20px ; 
    padding-top: 14px;
    border: none;
    margin-bottom: 10px;
    width: 100%;
    border: none;
    outline: none;
    font-style: italic;
    height: 65px;
}
.main-container .contact .inner-contact .inner-contact-right .fouth-box{
    display:grid;
    grid-template-columns: auto 180px;
    grid-gap: 30px;
    padding-left: 40px;
    align-self: center;
   
}
.main-container .contact .inner-contact .inner-contact-right .fouth-box p{
    font-size: 12px;
    align-self: center;
}

.main-container .contact .inner-contact .inner-contact-right .fouth-box button{
    height: 54px;
    line-height: 54px;
    color: #ffffff;
    font-size: 16px;
    background: linear-gradient(to right, #a01d21 0%, #8a0e12 100%);
    display: grid;
    grid-template-columns: 16px auto;
    border: none;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
}
.main-container .contact .inner-contact .inner-contact-right .fouth-box button img{
    padding-right: 5px;
}
.main-container footer{
    background-color: #ffffff;
    height: 120px;
    line-height:120px ;
}
.main-container footer .footer-contact {
    display: grid;
    grid-template-columns: 329px auto 164px;
    grid-gap: 14px;
    align-items: center;
}
.main-container footer .footer-contact  ul li{
    display: inline-block;
    list-style: none;    
}
.main-container footer .footer-contact  ul li a{
    text-decoration: none;
    color:#2b2c2d;
    font-size: 14px;
    
    padding:0px 5px;
}

.main-container footer .footer-contact p{
    font-size: 12px;
    color: #999999;
}
.main-container footer .footer-contact img{
    width: 164px;
    
}